<div class="container text-center">

   <!-- <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="fruitscarousel">
-->
    <div class="carousel slide" data-ride="carousel" data-type="multi"  data-interval="1000" id="fruitscarousel">
         <div class="carousel-inner">

                <div class="item active">
                      <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="tempImages/banana.jpg" class="img-responsive"></a></div>
                  </div>

                  <div class="item">
                      <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="tempImages/currant.jpg" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                      <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="tempImages/mango.jpg" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                      <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="tempImages/strawberries.jpg" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                      <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="tempImages/banana.jpg" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                      <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="tempImages/currant.jpg" class="img-responsive"></a></div>
                  </div>
            <!-- <div class="item"  ng-repeat="x in data"    ng-class="{  'active': $index == 1 }">
                   <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="{{x.imgSrc}}" class="img-responsive"></a></div>
             </div>-->
         </div>

         <a class="left carousel-control" ng-click="prev()"><i class="glyphicon glyphicon-chevron-left"></i></a>
         <a class="right carousel-control"ng-click="next()" ><i class="glyphicon glyphicon-chevron-right"></i></a>

     </div>
</div>