<link rel="stylesheet" href="css/vazhakolil.css">
<link rel="stylesheet" href="css/carousel.css">
<div ng-include="'views/carousel.html'"></div>
<div style=" padding-top: 4%;">

    <ul class="products" >
       <li ng-repeat="shirt in deals.dealsOfDayData track by $index">
            <a href="" ng-click='deals.addToCatr(shirt.name)'>
            <img src="{{shirt.imgSrc}}" alt=""/>
            <h4>"{{shirt.name}}"</h4>
            <p>$"{{shirt.price}}"</p>
        </a>
        </li>
        </ul>

</div>



<!--
<script src="services/carouselDataService.js"></script>-->
